@using Cybersport.Infrastructure.Enums
@model Cybersport.Infrastructure.Models.Tournament

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TournamentName" class="control-label"></label>
                <input asp-for="TournamentName" class="form-control" />
                <span asp-validation-for="TournamentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organizer" class="control-label"></label>
                <select asp-for="Organizer" class="form-control" asp-items="Html.GetEnumSelectList<Organizer>()"></select>
                    <option value="">Choose organizer</option>
                <span asp-validation-for="Organizer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostCity" class="control-label"></label>
                <input asp-for="HostCity" class="form-control" />
                <span asp-validation-for="HostCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamWinnerId" class="control-label"></label>
                <select asp-for="TeamWinnerId" class="form-control" asp-items="ViewBag.TeamWinnerId"></select>
                <span asp-validation-for="TeamWinnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
